@using Orientation = Radzen.Orientation
@inherits LayoutComponentBase

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">

    <NavMenu ></NavMenu>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>


<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.BottomRight"/>
<RadzenComponents @rendermode="InteractiveServer"/>